# Data Splitting

In [1]:
import pandas as pd

In [5]:
x_data = pd.read_csv('analytics_overview_april_6.csv')
x_data

,Date,Impressions,Likes,Engagements,Bookmarks,Shares,New follows,Unfollows,Replies,Reposts,Profile visits,Create Post,Video views,Media views
0,"Sun, Apr 6, 2025",21,0,0,0,0,0,0,0,0,0,0,0,0
1,"Sat, Apr 5, 2025",63,0,1,0,0,1,0,0,0,0,0,0,0
2,"Fri, Apr 4, 2025",107,0,3,0,0,0,1,0,0,1,0,0,0
3,"Thu, Apr 3, 2025",175,0,3,0,0,1,0,0,0,1,0,0,0
4,"Wed, Apr 2, 2025",423,3,13,0,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,"Thu, Apr 11, 2024",959,7,34,2,0,3,0,1,0,7,1,0,0
361,"Wed, Apr 10, 2024",1715,11,60,4,0,2,1,3,0,1,1,0,0
362,"Tue, Apr 9, 2024",2511,20,88,2,0,2,1,2,0,17,3,0,0
363,"Mon, Apr 8, 2024",5520,38,166,7,0,1,0,6,1,24,2,0,0
364,"Sun, Apr 7, 2024",7502,82,326,14,0,8,1,6,1,56,3,0,0

### Isolate predicitor variables

In [8]:
x = x_data.drop(columns='New follows')

In [9]:
x

,Date,Impressions,Likes,Engagements,Bookmarks,Shares,Unfollows,Replies,Reposts,Profile visits,Create Post,Video views,Media views
0,"Sun, Apr 6, 2025",21,0,0,0,0,0,0,0,0,0,0,0
1,"Sat, Apr 5, 2025",63,0,1,0,0,0,0,0,0,0,0,0
2,"Fri, Apr 4, 2025",107,0,3,0,0,1,0,0,1,0,0,0
3,"Thu, Apr 3, 2025",175,0,3,0,0,0,0,0,1,0,0,0
4,"Wed, Apr 2, 2025",423,3,13,0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,"Thu, Apr 11, 2024",959,7,34,2,0,0,1,0,7,1,0,0
361,"Wed, Apr 10, 2024",1715,11,60,4,0,1,3,0,1,1,0,0
362,"Tue, Apr 9, 2024",2511,20,88,2,0,1,2,0,17,3,0,0
363,"Mon, Apr 8, 2024",5520,38,166,7,0,0,6,1,24,2,0,0
364,"Sun, Apr 7, 2024",7502,82,326,14,0,1,6,1,56,3,0,0

### Isolate outocme variable

In [12]:
y = x_data.loc[:, 'New follows']

In [13]:
y

0      0
1      1
2      0
3      1
4      0
      ..
360    3
361    2
362    2
363    1
364    8
Name: New follows, Length: 365, dtype: int64

## Use SciKit-Learn to split the data

In [14]:
from sklearn.model_selection import train_test_split as tts

### Assign test sets to variables

In [19]:
# test size allocates a percentage of the data as test set vs training set
x_train, x_test, y_train, y_test = tts(x, y, test_size=0.2)

In [20]:
x_train

,Date,Impressions,Likes,Engagements,Bookmarks,Shares,Unfollows,Replies,Reposts,Profile visits,Create Post,Video views,Media views
87,"Thu, Jan 9, 2025",712,3,26,0,0,1,1,0,3,1,0,0
260,"Sat, Jul 20, 2024",1020,7,20,1,0,2,0,0,1,1,0,0
99,"Sat, Dec 28, 2024",270,1,6,0,0,0,0,0,2,0,0,0
75,"Tue, Jan 21, 2025",642,12,39,0,0,1,2,0,0,1,0,0
242,"Wed, Aug 7, 2024",426,4,20,0,0,3,2,0,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,"Tue, Apr 30, 2024",2478,21,78,5,0,0,9,1,4,4,0,0
266,"Sun, Jul 14, 2024",3422,24,133,4,0,1,1,1,23,1,0,0
277,"Wed, Jul 3, 2024",709,4,28,0,0,0,0,0,5,0,0,0
57,"Sat, Feb 8, 2025",713,4,14,0,0,4,0,0,4,0,0,0
239,"Sat, Aug 10, 2024",1617,24,103,8,0,0,1,2,5,1,0,0

In [24]:
x_test

,Date,Impressions,Likes,Engagements,Bookmarks,Shares,Unfollows,Replies,Reposts,Profile visits,Create Post,Video views,Media views
338,"Fri, May 3, 2024",279,0,16,0,0,2,0,0,0,0,0,0
198,"Fri, Sep 20, 2024",1887,9,52,0,0,0,2,0,7,3,0,0
191,"Fri, Sep 27, 2024",1172,7,44,0,0,1,1,1,10,0,0,0
271,"Tue, Jul 9, 2024",1539,5,22,0,0,0,0,1,3,0,0,0
19,"Tue, Mar 18, 2025",7306,57,230,21,1,0,2,3,25,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,"Tue, Jun 11, 2024",1052,5,83,1,0,0,3,0,1,0,0,0
327,"Tue, May 14, 2024",159,1,8,0,0,0,0,0,1,0,0,0
147,"Sun, Nov 10, 2024",660,4,25,0,0,1,0,0,3,1,0,0
0,"Sun, Apr 6, 2025",21,0,0,0,0,0,0,0,0,0,0,0
292,"Tue, Jun 18, 2024",188,1,16,0,0,0,0,0,1,0,0,0

In [22]:
y_train

87     2
260    1
99     0
75     1
242    3
      ..
341    1
266    1
277    2
57     1
239    4
Name: New follows, Length: 292, dtype: int64

In [23]:
y_test

338     1
198     2
191     2
271     2
19     12
       ..
299     1
327     4
147     4
0       0
292     2
Name: New follows, Length: 73, dtype: int64