# CRUD operations with dictionaries in python

In [8]:
import pandas as pd

In [9]:
# create a data frame from a CSV
df = pd.read_csv('telco_churn.csv')

In [10]:
# read a data frame

# display first 5 rows of data
df.head()

# display n rows
df.head(2)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.7,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.7,1.0,False

In [11]:
# display bottom rows, n=5 by default
df.tail(8)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3325,OH,78,408,No,No,0,193.4,99.0,32.88,116.9,88.0,9.94,243.3,109.0,10.95,9.3,4,2.51,2.0,False
3326,OH,96,415,No,No,0,106.6,128.0,18.12,284.8,87.0,24.21,178.9,92.0,8.05,14.9,7,4.02,1.0,False
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [12]:
# create a dataframe from a dictionary

In [13]:
dict = {'col_1': [1, 2, 3], 'col_2': [4, 5, 6], 'col_3': [7, 8, 9]}

In [14]:
dict_df = pd.DataFrame(dict)
dict_df.head()

   col_1  col_2  col_3
0      1      4      7
1      2      5      8
2      3      6      9

In [15]:
# show columns
df.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [16]:
df.State # access a column whose name is without spaces

0       KS
1       OH
2       NJ
3       OH
4       OK
        ..
3328    AZ
3329    WV
3330    RI
3331    CT
3332    TN
Name: State, Length: 3333, dtype: object

In [17]:
df['Account length'] # access a column with spaces in the column name

0       128
1       107
2       137
3        84
4        75
       ...
3328    192
3329     68
3330     28
3331    184
3332     74
Name: Account length, Length: 3333, dtype: int64

In [18]:
df[['State', 'Account length']] # access multiple columns

     State  Account length
0       KS             128
1       OH             107
2       NJ             137
3       OH              84
4       OK              75
...    ...             ...
3328    AZ             192
3329    WV              68
3330    RI              28
3331    CT             184
3332    TN              74

[3333 rows x 2 columns]

In [19]:
df.dtypes

State                      object
Account length              int64
Area code                   int64
International plan         object
Voice mail plan            object
Number vmail messages       int64
Total day minutes         float64
Total day calls           float64
Total day charge          float64
Total eve minutes         float64
Total eve calls           float64
Total eve charge          float64
Total night minutes       float64
Total night calls         float64
Total night charge        float64
Total intl minutes        float64
Total intl calls            int64
Total intl charge         float64
Customer service calls    float64
Churn                      object
dtype: object

In [20]:
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
count,3333.000000,3333.000000,3333.000000,3323.000000,3323.000000,3315.000000,3324.000000,3325.000000,3333.000000,3333.000000,3332.000000,3333.000000,3333.000000,3333.000000,3328.000000,3328.000000
mean,101.064806,437.182418,8.099010,179.787150,100.456214,30.557831,201.033935,100.110677,17.083540,200.872037,100.115246,9.039325,10.237294,4.479448,2.764588,1.563101
std,39.822106,42.371290,13.688365,54.419625,20.057356,9.255987,50.676652,19.932115,4.310668,50.573847,19.566710,2.275873,2.791840,2.461214,0.754086,1.315870
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.420000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.500000,114.000000,36.780000,235.325000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [21]:
df.describe(include='object')

       State International plan Voice mail plan  Churn
count   3333               3333            3333   3325
unique    51                  2               2      2
top       WV                 No              No  False
freq     106               3010            2411   2842

In [22]:
df.State.unique() # filter on column

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [23]:
df[df['International plan'] == 'No'] # conditionally filter on column

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
6,MA,121,510,No,Yes,24,218.2,88.0,37.09,348.5,108.0,29.62,212.6,118.0,9.57,7.5,7,2.03,3.0,NaN
8,LA,117,408,No,No,0,184.5,97.0,31.37,351.6,80.0,29.89,215.8,90.0,9.71,8.7,4,2.35,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3328,AZ,192,415,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [24]:
# filter with multiple conditions
# isolate boolean values with parentheses
# use & for AND
df[(df['International plan'] == 'No') & (df.Churn == True)]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
10,IN,65,415,No,No,0,129.1,137.0,21.95,228.5,83.0,19.42,208.8,111.0,9.40,12.7,6,3.43,4.0,True
15,NY,161,415,No,No,0,NaN,NaN,NaN,317.8,97.0,27.01,160.6,128.0,7.23,5.4,9,1.46,4.0,True
21,CO,77,408,No,No,0,NaN,NaN,NaN,169.9,121.0,14.44,209.6,64.0,9.43,5.7,6,1.54,5.0,True
33,AZ,12,408,No,No,0,249.6,118.0,NaN,NaN,NaN,21.45,280.2,90.0,12.61,11.8,3,3.19,1.0,True
48,ID,119,415,No,No,0,159.1,114.0,27.05,231.3,117.0,19.66,143.2,91.0,6.44,8.8,3,2.38,5.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3280,AR,76,408,No,No,0,107.3,140.0,18.24,238.2,133.0,20.25,271.8,116.0,12.23,10.0,3,2.70,4.0,True
3287,KS,170,415,No,Yes,42,199.5,119.0,33.92,135.0,90.0,11.48,184.6,49.0,8.31,10.9,3,2.94,4.0,True
3301,CA,84,415,No,No,0,280.0,113.0,47.60,202.2,90.0,17.19,156.8,103.0,7.06,10.4,4,2.81,0.0,True
3322,MD,62,408,No,No,0,321.1,105.0,54.59,265.5,122.0,22.57,180.5,72.0,8.12,11.5,2,3.11,4.0,True
3323,IN,117,415,No,No,0,118.4,126.0,20.13,249.3,97.0,21.19,227.0,56.0,10.22,13.6,3,3.67,5.0,True

In [25]:
# iloc method
# integer location based index
df.iloc[14] # access the 15th row of a data frame

State                        IA
Account length               62
Area code                   415
International plan           No
Voice mail plan              No
Number vmail messages         0
Total day minutes           NaN
Total day calls             NaN
Total day charge            NaN
Total eve minutes         307.2
Total eve calls            76.0
Total eve charge          26.11
Total night minutes       203.0
Total night calls          99.0
Total night charge         9.14
Total intl minutes         13.1
Total intl calls              6
Total intl charge          3.54
Customer service calls      4.0
Churn                     False
Name: 14, dtype: object

In [26]:
df.iloc[14, 0] #access the 15th row, first column

'IA'

In [27]:
# slicing
df.iloc[22:33] # access rows 22-33, excluding

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
22,AZ,130,415,No,No,0,183.0,112.0,31.11,72.9,99.0,6.20,181.8,78.0,8.18,9.5,19,2.57,0.0,NaN
23,SC,111,415,No,No,0,110.4,103.0,18.77,137.3,102.0,11.67,189.6,105.0,8.53,7.7,6,2.08,2.0,False
24,VA,132,510,No,No,0,81.1,86.0,13.79,245.2,72.0,20.84,237.0,115.0,10.67,10.3,2,2.78,0.0,False
25,NE,174,415,No,No,0,124.3,76.0,21.13,277.1,112.0,23.55,250.7,115.0,11.28,15.5,5,4.19,3.0,False
26,WY,57,408,No,Yes,39,213.0,115.0,36.21,191.1,112.0,16.24,182.7,115.0,8.22,9.5,3,2.57,0.0,False
27,MT,54,408,No,No,0,134.3,73.0,22.83,155.5,100.0,13.22,102.1,68.0,4.59,14.7,4,3.97,3.0,False
28,MO,20,415,No,No,0,190.0,109.0,32.30,258.2,84.0,21.95,181.5,102.0,8.17,6.3,6,1.70,0.0,False
29,HI,49,510,No,No,0,119.3,117.0,20.28,215.1,109.0,18.28,178.7,90.0,8.04,11.1,1,3.00,1.0,NaN
30,IL,142,415,No,No,0,84.8,95.0,14.42,136.7,63.0,11.62,250.5,148.0,11.27,14.2,6,3.83,2.0,False
31,NH,75,510,No,No,0,226.1,105.0,NaN,NaN,NaN,17.13,246.2,98.0,11.08,10.3,5,2.78,1.0,False
32,LA,172,408,No,No,0,212.0,121.0,NaN,NaN,NaN,2.65,293.3,78.0,13.20,12.6,10,3.40,3.0,False

In [28]:
state = df.copy()
state.set_index('State', inplace=True) # set a colummn value as index rather than integer
state.head()

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False

In [29]:
state.loc['OH'] # filter by location of non-integer value

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
OH,65,408,No,No,0,187.9,116.0,31.94,157.6,117.0,13.40,227.3,86.0,10.23,7.5,6,2.03,1.0,False
OH,83,415,No,No,0,337.4,120.0,57.36,227.4,116.0,19.33,153.9,114.0,6.93,15.8,7,4.27,0.0,True
OH,63,415,Yes,Yes,36,199.0,110.0,33.83,291.3,111.0,24.76,197.6,92.0,8.89,11.0,6,2.97,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
OH,160,415,No,No,0,206.3,66.0,35.07,241.1,109.0,20.49,227.8,102.0,10.25,11.7,6,3.16,0.0,False
OH,88,408,No,No,0,274.6,105.0,46.68,161.1,121.0,13.69,194.4,123.0,8.75,9.2,4,2.48,2.0,False
OH,106,415,No,Yes,30,220.1,105.0,37.42,222.2,109.0,18.89,158.4,96.0,7.13,13.1,8,3.54,0.0,False
OH,78,408,No,No,0,193.4,99.0,32.88,116.9,88.0,9.94,243.3,109.0,10.95,9.3,4,2.51,2.0,False
OH,96,415,No,No,0,106.6,128.0,18.12,284.8,87.0,24.21,178.9,92.0,8.05,14.9,7,4.02,1.0,False

In [30]:
df.isnull().sum() # find the total null-value occurrences

State                      0
Account length             0
Area code                  0
International plan         0
Voice mail plan            0
Number vmail messages      0
Total day minutes         10
Total day calls           10
Total day charge          18
Total eve minutes          9
Total eve calls            8
Total eve charge           0
Total night minutes        0
Total night calls          1
Total night charge         0
Total intl minutes         0
Total intl calls           0
Total intl charge          5
Customer service calls     5
Churn                      8
dtype: int64

In [31]:
df.dropna(inplace=True) # drop null values in place
df.isnull().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [32]:
df.drop('Area code', axis=1) # drop a column along one axis

,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [33]:
df['New Column'] = df['Total night minutes'] + df['Total intl minutes']

In [34]:
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False,254.7
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False,268.1
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False,174.8
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False,203.5
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False,197.0

### Update all rows in a column

In [35]:
df['New Column'] = 100
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False,100
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100

### iloc method

In [36]:
df.iloc[0, -1] = 10 # update a value at a particular location
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100

### Apply method

In [37]:
df['Churn Binary'] = df['Churn'].apply(lambda x: 1 if x==True else 0)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,...,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,New Column,Churn Binary
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,...,244.7,91.0,11.01,10.0,3,2.70,1.0,False,10,0
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,...,254.4,103.0,11.45,13.7,3,3.70,1.0,False,100,0
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,...,162.6,104.0,7.32,12.2,5,3.29,0.0,False,100,0
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,...,196.9,89.0,8.86,6.6,7,1.78,2.0,False,100,0
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,...,186.9,121.0,8.41,10.1,3,2.73,3.0,False,100,0

### Output file

In [38]:
df.to_csv('Output.csv')

In [39]:
df.to_json('Output.json')

### Looping over data frames

In [40]:
data_frame = pd.read_csv('telco_churn.csv', index_col = 0)
print(data_frame)
for lab, row in data_frame.head().iterrows():
    print(lab)
    print(row)

       Account length  Area code International plan Voice mail plan  \
State
KS                128        415                 No             Yes
OH                107        415                 No             Yes
NJ                137        415                 No              No
OH                 84        408                Yes              No
OK                 75        415                Yes              No
...               ...        ...                ...             ...
AZ                192        415                 No             Yes
WV                 68        415                 No              No
RI                 28        510                 No              No
CT                184        510                Yes              No
TN                 74        415                 No             Yes

       Number vmail messages  Total day minutes  Total day calls  \
State
KS                        25              265.1            110.0
OH                        26              161.6            123.0
NJ                         0              243.4            114.0
OH                         0              299.4             71.0
OK                         0              166.7            113.0
...                      ...                ...              ...
AZ                        36              156.2             77.0
WV                         0              231.1             57.0
RI                         0              180.8            109.0
CT                         0              213.8            105.0
TN                        25              234.4            113.0

       Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
State
KS                45.07              197.4             99.0             16.78
OH                27.47              195.5            103.0             16.62
NJ                41.38              121.2            110.0             10.30
OH                50.90               61.9             88.0              5.26
OK                28.34              148.3            122.0             12.61
...                 ...                ...              ...               ...
AZ                26.55              215.5            126.0             18.32
WV                39.29              153.4             55.0             13.04
RI                30.74              288.8             58.0             24.55
CT                36.35              159.6             84.0             13.57
TN                39.85              265.9             82.0             22.60

       Total night minutes  Total night calls  Total night charge  \
State
KS                   244.7               91.0               11.01
OH                   254.4              103.0               11.45
NJ                   162.6              104.0                7.32
OH                   196.9               89.0                8.86
OK                   186.9              121.0                8.41
...                    ...                ...                 ...
AZ                   279.1               83.0               12.56
WV                   191.3              123.0                8.61
RI                   191.9               91.0                8.64
CT                   139.2              137.0                6.26
TN                   241.4               77.0               10.86

       Total intl minutes  Total intl calls  Total intl charge  \
State
KS                   10.0                 3               2.70
OH                   13.7                 3               3.70
NJ                   12.2                 5               3.29
OH                    6.6                 7               1.78
OK                   10.1                 3               2.73
...                   ...               ...                ...
AZ                    9.9                 6               2.67
WV                    9.6                 4               2.59
RI                   14.1                 6               3.81
CT                    5.0                10               1.35
TN                   13.7                 4               3.70

       Customer service calls  Churn
State
KS                        1.0  False
OH                        1.0  False
NJ                        0.0  False
OH                        2.0  False
OK                        3.0  False
...                       ...    ...
AZ                        2.0  False
WV                        3.0  False
RI                        2.0  False
CT                        2.0  False
TN                        0.0  False

[3333 rows x 19 columns]
KS
Account length              128
Area code                   415
International plan           No
Voice mail plan             Yes
Number vmail messages        25
Total day minutes         265.1
Total day calls           110.0
Total day charge          45.07
Total eve minutes         197.4
Total eve calls            99.0
Total eve charge          16.78
Total night minutes       244.7
Total night calls          91.0
Total night charge        11.01
Total intl minutes         10.0
Total intl calls              3
Total intl charge           2.7
Customer service calls      1.0
Churn                     False
Name: KS, dtype: object
OH
Account length              107
Area code                   415
International plan           No
Voice mail plan             Yes
Number vmail messages        26
Total day minutes         161.6
Total day calls           123.0
Total day charge          27.47
Total eve minutes         195.5
Total eve calls           103.0
Total eve charge          16.62
Total night minutes       254.4
Total night calls         103.0
Total night charge        11.45
Total intl minutes         13.7
Total intl calls              3
Total intl charge           3.7
Customer service calls      1.0
Churn                     False
Name: OH, dtype: object
NJ
Account length              137
Area code                   415
International plan           No
Voice mail plan              No
Number vmail messages         0
Total day minutes         243.4
Total day calls           114.0
Total day charge          41.38
Total eve minutes         121.2
Total eve calls           110.0
Total eve charge           10.3
Total night minutes       162.6
Total night calls         104.0
Total night charge         7.32
Total intl minutes         12.2
Total intl calls              5
Total intl charge          3.29
Customer service calls      0.0
Churn                     False
Name: NJ, dtype: object
OH
Account length               84
Area code                   408
International plan          Yes
Voice mail plan              No
Number vmail messages         0
Total day minutes         299.4
Total day calls            71.0
Total day charge           50.9
Total eve minutes          61.9
Total eve calls            88.0
Total eve charge           5.26
Total night minutes       196.9
Total night calls          89.0
Total night charge         8.86
Total intl minutes          6.6
Total intl calls              7
Total intl charge          1.78
Customer service calls      2.0
Churn                     False
Name: OH, dtype: object
OK
Account length               75
Area code                   415
International plan          Yes
Voice mail plan              No
Number vmail messages         0
Total day minutes         166.7
Total day calls           113.0
Total day charge          28.34
Total eve minutes         148.3
Total eve calls           122.0
Total eve charge          12.61
Total night minutes       186.9
Total night calls         121.0
Total night charge         8.41
Total intl minutes         10.1
Total intl calls              3
Total intl charge          2.73
Customer service calls      3.0
Churn                     False
Name: OK, dtype: object

## Apply

In [41]:
# data_frame['lower_case_label'] = data_frame[].apply(lower)
# print(data_frame)

## Delete data frame object

In [42]:
del df # delete data frame objet

# Dates and times

Parse dates automatically while creating a dataframe from a csv

In [52]:
import pandas as pd

holidays = pd.read_csv('holidays.csv', parse_dates = ['Start Date', 'End Date']) # date-containing column names
holidays

  Start Date   End Date            Event Name         Location
0 2023-01-01 2023-01-05  New Year Celebration         New York
1 2023-02-14 2023-02-20  Valentine's Day Trip            Paris
2 2023-07-04 2023-07-07      Independence Day  Washington D.C.
3 2023-12-25 2023-12-30    Christmas Vacation           London

If automatic formatting fails, a manual option is available

In [53]:
holidays['Start Date'] = pd.to_datetime(holidays['Start Date'], format = '%Y-%m-%d')
holidays['Start Date']

0   2023-01-01
1   2023-02-14
2   2023-07-04
3   2023-12-25
Name: Start Date, dtype: datetime64[ns]

## Time-zone aware arithmetic

In [54]:
holidays['Duration'] = holidays['End Date'] - holidays['Start Date']
print(holidays)

  Start Date   End Date            Event Name         Location Duration
0 2023-01-01 2023-01-05  New Year Celebration         New York   4 days
1 2023-02-14 2023-02-20  Valentine's Day Trip            Paris   6 days
2 2023-07-04 2023-07-07      Independence Day  Washington D.C.   3 days
3 2023-12-25 2023-12-30    Christmas Vacation           London   5 days

In [57]:
duration_in_seconds = holidays['Duration']\ # line continuation delimiter
    .dt.total_seconds()\
    .head(5)

print(duration_in_seconds)

0    345600.0
1    518400.0
2    259200.0
3    432000.0
Name: Duration, dtype: float64